@import 'normalize.css/normalize.css';

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 16px;
}

body {
  color: #212529;
  background-color: #f4f5f6;
}

.container {
  padding-top: 5vw;
  padding-bottom: 2.5vw;
  margin: 0 auto;
}

.row {
  margin: 0 5vw;
}

#is-art {
  font-weight: 700;
  font-size: 5em;
  line-height: 0.888em;
}

#is-art-status {
  text-decoration: underline;
}

#is-art-form {
  margin-top: 2em;
}

#is-art-keyfile {
  max-width: 350px;
}

.is-art-label {
  color: #444c55;
  margin: 0.3125em 0;
  display: block;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.1em;
}

.is-art-btn {
  font-family: monospace;
}

.is-art-form-group {
  margin-top: 2em;
}
